.div-styling{
    height:224px;

    
    
    

}
.title-styling{
    color:whitesmoke;
    font-size: large;
    
}
.textarea-styling{
    padding:3px ;
    height: 150px;
    background-color: white;
    color:blueviolet;
    width:170px;
}
